<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151056945688-3fcfgq2rmvi4kf5ud4iin6l2vv3gnrrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151056945688-3fcfgq2rmvi4kf5ud4iin6l2vv3gnrrq</string>
	<key>API_KEY</key>
	<string>AIzaSyD5_nu6qvEtfeh971YmBPcL47xDPLCf6Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>151056945688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iiatimdApp</string>
	<key>PROJECT_ID</key>
	<string>iiatimd-skyrim-app</string>
	<key>STORAGE_BUCKET</key>
	<string>iiatimd-skyrim-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151056945688:ios:a3cda3a24ab8144a58e96d</string>
</dict>
</plist>